/* src/app/designTokens.css */
:root {
  --color-primary: #542D3E;
  --color-secondary: #F7F1E7;
  --color-background-light: #F7F1E7;
  --color-background-dark: #171614;
  --color-foreground-light: #171614;
  --color-foreground-dark: #F7F1E7;
  --glass-bg: rgba(247, 241, 231, 0.15);
  --glass-blur: blur(10px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background-dark);
    --color-foreground: var(--color-foreground-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--color-background-light);
    --color-foreground: var(--color-foreground-light);
  }
}
